.u-section-1 .u-sheet-1 {
  min-height: 676px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
}

.u-section-1 .u-video-1 {
  min-height: 338px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  filter: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-video-2 {
  min-height: 338px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  filter: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 676px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding: 29px 30px 29px 0;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 29px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-1 .u-video-1 {
    background-size: cover;
    min-height: 279px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .u-section-1 .u-video-2 {
    min-height: 279px;
    background-size: cover;
    background-position: 50% 50%;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 557px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-1 .u-video-1 {
    min-height: 214px;
  }

  .u-section-1 .u-video-2 {
    min-height: 214px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-1 .u-video-1 {
    min-height: 321px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-video-2 {
    min-height: 321px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-1 .u-video-1 {
    min-height: 202px;
  }

  .u-section-1 .u-video-2 {
    min-height: 202px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 290px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  text-transform: none;
  line-height: 1.4;
  margin: 50px auto 5px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 346px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 399px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.34375rem;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: 60px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 945px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px auto 0 0;
}

.u-section-3 .u-video-1 {
  min-height: 358px;
  filter: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 358px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 126px;
  width: 126px;
  background-image: none;
  margin: 0 0 0 auto;
  padding: 27px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 30px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 32px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 358px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 126px;
  width: 126px;
  background-image: none;
  margin: 0 0 0 auto;
  padding: 27px;
}

.u-section-3 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 40px 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 32px 0 0;
}

.u-section-3 .u-video-2 {
  min-height: 358px;
  filter: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.125rem;
  background-image: none;
  margin: 40px auto -57px;
  padding: 20px 73px 21px 72px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1105px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 166px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-video-1 {
    background-position: 50% 50%;
    min-height: 295px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 295px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 295px;
  }

  .u-section-3 .u-video-2 {
    min-height: 295px;
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1039px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 164px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-video-1 {
    min-height: 226px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-video-2 {
    min-height: 226px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1393px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 196px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-video-1 {
    min-height: 339px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-layout-cell-3 {
    order: 1;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-video-2 {
    min-height: 339px;
    order: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1058px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-video-1 {
    min-height: 244px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-3 .u-icon-1 {
    height: 105px;
    width: 105px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 31px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 445px;
  }

  .u-section-3 .u-icon-2 {
    height: 105px;
    width: 105px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 41px;
  }

  .u-section-3 .u-video-2 {
    min-height: 244px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-btn-1 {
    margin-bottom: 60px;
  }
}@font-face {
  font-family: 'Droid';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Droid.ttf);
}
/* page-custom-fonts */
@font-face {
  font-family: 'Droid';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Droid.ttf);
}