 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 773px;
}

.u-section-1 .u-group-1 {
  width: 740px;
  min-height: 358px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: 69px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 40px 30px 190px;
}

.u-section-1 .u-text-1 {
  margin: 39px 0 0;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  transition-duration: 0.5s;
  font-weight: 700;
  margin: 30px 0 0 auto;
  padding: 12px 51px 13px 50px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  transition-duration: 0.5s;
  font-weight: 700;
  --radius: 6px;
  margin: -51px 228px 0 auto;
  padding: 12px 51px 13px 50px;
}

.u-section-1 .u-social-icons-1 {
  height: 32px;
  width: 204px;
  margin: 20px 0 0 auto;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 0;
  background-image: none;
}

.u-section-1 .u-icon-5 {
  height: 100%;
  background-image: none;
}

.u-section-1 .u-list-1 {
  width: 459px;
  margin: -220px auto 60px 0;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 496px;
  --gap: 0px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 30px 15px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 0 2px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 30px 15px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 0 0 2px;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px 30px 15px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.u-section-1 .u-icon-8 {
  vertical-align: 0px;
}

.u-section-1 .u-text-8 {
  margin: 20px 0 0 2px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 686px;
    margin-top: 70px;
    height: auto;
  }

  .u-section-1 .u-social-icons-1 {
    min-height: 16px;
  }

  .u-section-1 .u-list-1 {
    width: 376px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 0px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1130px;
  }

  .u-section-1 .u-group-1 {
    width: 574px;
    margin-top: 69px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-list-1 {
    width: 423px;
    margin-top: -65px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 482px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1169px;
  }

  .u-section-1 .u-group-1 {
    width: 493px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 88px;
  }

  .u-section-1 .u-list-1 {
    width: 446px;
    margin-top: -52px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1117px;
  }

  .u-section-1 .u-group-1 {
    width: 312px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 312px;
    margin-top: 20px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
} .u-section-2 {
  min-height: 500px;
}@font-face {
  font-family: 'Droid';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Droid.ttf);
}
/* page-custom-fonts */
@font-face {
  font-family: 'Droid';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Droid.ttf);
}