.u-section-1 .u-sheet-1 {
  min-height: 672px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 219px auto 0;
}

.u-section-1 .u-text-2 {
  width: 601px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  transition-duration: 0.5s;
  font-weight: 700;
  margin: 20px auto 60px;
  padding: 12px 51px 13px 50px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
} .u-section-2 {
  padding-left: 60px;
  padding-right: 60px;
  min-height: 991px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: -331px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 891px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-video-1 {
  height: 624px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 891px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  margin: 0 0 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 31px 0 0 auto;
}

.u-section-2 .u-video-2 {
  height: 604px;
  margin-top: 31px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 909px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 13px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 654px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 543px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 654px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 247px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    margin-bottom: -331px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 429px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1587px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1452px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 617px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 797px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1806px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: -37px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 896px;
    order: 1;
  }

  .u-section-2 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-layout-cell-2 {
    order: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 600px;
}

.u-section-3 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(20% - 14.4px);
  grid-template-columns: repeat(5, calc(20% - 14.4px));
  min-height: 291px;
  --gap: 18px;
}

.u-section-3 .u-image-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/WhatsAppImage2026-02-13at7.11.30PM1.jpeg');
  background-size: cover, cover;
}

.u-section-3 .u-container-layout-1 {
  padding: 50px 30px 60px;
}

.u-section-3 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0;
}

.u-section-3 .u-image-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/WhatsAppImage2026-02-13at7.12.53PM.jpeg');
  background-size: cover, cover;
}

.u-section-3 .u-container-layout-2 {
  padding: 50px 30px 60px;
}

.u-section-3 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0;
}

.u-section-3 .u-image-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/WhatsAppImage2026-02-13at7.13.42PM.jpeg');
  background-size: cover, cover;
}

.u-section-3 .u-container-layout-3 {
  padding: 50px 30px 60px;
}

.u-section-3 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0;
}

.u-section-3 .u-image-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/WhatsAppImage2026-02-13at7.11.30PM3.jpeg');
  background-size: cover, cover;
}

.u-section-3 .u-container-layout-4 {
  padding: 50px 30px 60px;
}

.u-section-3 .u-text-5 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0;
}

.u-section-3 .u-image-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/WhatsAppImage2026-02-13at7.14.32PM.jpeg');
  background-size: cover, cover;
}

.u-section-3 .u-container-layout-5 {
  padding: 50px 30px 60px;
}

.u-section-3 .u-text-6 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  transition-duration: 0.5s;
  font-weight: 700;
  margin: 50px auto 43px;
  padding: 12px 51px 13px 50px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    min-height: 214px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 12px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 12px));
    min-height: 546px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    margin-top: 162px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 9px);
    grid-template-columns: repeat(2, calc(50% - 9px));
    min-height: 921px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    margin-top: 20px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% + 0px);
    grid-template-columns: 100%;
  }
}

.u-section-3 .u-btn-1,
.u-section-3 .u-btn-1:before,
.u-section-3 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 773px;
}

.u-section-4 .u-group-1 {
  width: 740px;
  min-height: 358px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: 69px 0 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 40px 30px 190px;
}

.u-section-4 .u-text-1 {
  margin: 39px 0 0;
}

.u-section-4 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  transition-duration: 0.5s;
  font-weight: 700;
  margin: 30px 0 0 auto;
  padding: 12px 51px 13px 50px;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  transition-duration: 0.5s;
  font-weight: 700;
  --radius: 6px;
  margin: -51px 228px 0 auto;
  padding: 12px 51px 13px 50px;
}

.u-section-4 .u-social-icons-1 {
  height: 32px;
  width: 204px;
  margin: 20px 0 0 auto;
}

.u-section-4 .u-icon-1 {
  height: 100%;
}

.u-section-4 .u-icon-2 {
  height: 100%;
}

.u-section-4 .u-icon-3 {
  height: 100%;
}

.u-section-4 .u-icon-4 {
  height: 0;
  background-image: none;
}

.u-section-4 .u-icon-5 {
  height: 100%;
  background-image: none;
}

.u-section-4 .u-list-1 {
  width: 459px;
  margin: -220px auto 60px 0;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 496px;
  --gap: 0px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 30px 15px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0 2px;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 30px 15px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.u-section-4 .u-text-6 {
  margin: 20px 0 0 2px;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px 30px 15px;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.u-section-4 .u-icon-8 {
  vertical-align: 0px;
}

.u-section-4 .u-text-8 {
  margin: 20px 0 0 2px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    width: 686px;
    margin-top: 70px;
    height: auto;
  }

  .u-section-4 .u-list-1 {
    width: 376px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 0px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1130px;
  }

  .u-section-4 .u-group-1 {
    width: 574px;
    margin-top: 69px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-list-1 {
    width: 423px;
    margin-top: -65px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 482px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1169px;
  }

  .u-section-4 .u-group-1 {
    width: 493px;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 88px;
  }

  .u-section-4 .u-list-1 {
    width: 446px;
    margin-top: -52px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1117px;
  }

  .u-section-4 .u-group-1 {
    width: 312px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-4 .u-list-1 {
    width: 312px;
    margin-top: 20px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
  }
}

.u-section-4 .u-btn-1,
.u-section-4 .u-btn-1:before,
.u-section-4 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-btn-2,
.u-section-4 .u-btn-2:before,
.u-section-4 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
} .u-section-5 {
  min-height: 500px;
}@font-face {
  font-family: 'Droid';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Droid.ttf);
}
/* page-custom-fonts */
@font-face {
  font-family: 'Droid';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Droid.ttf);
}