.u-section-1 .u-sheet-1 {
  min-height: 884px;
}

.u-section-1 .u-text-1 {
  margin: 60px 0 0 278px;
}

.u-section-1 .u-text-2 {
  font-weight: 300;
  line-height: 1.6;
  font-style: italic;
  margin: 20px 0 0 316px;
}

.u-section-1 .u-group-1 {
  min-height: 467px;
  height: auto;
  margin: 50px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  margin: 0;
}

.u-section-1 .u-btn-1 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 30px auto -66px;
  padding: 13px 53px 14px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 78px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 116px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 112px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }
}@font-face {
  font-family: 'Droid';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Droid.ttf);
}
/* page-custom-fonts */
@font-face {
  font-family: 'Droid';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Droid.ttf);
}