 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 736px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-style: normal;
  margin: 60px 82px 0;
}

.u-section-1 .u-text-2 {
  text-transform: none;
  font-weight: 600;
  font-size: 3rem;
  margin: 27px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 49px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(5, calc(20% - 21.6px));
  min-height: 383px;
  --gap: 27px;
  grid-auto-columns: calc(20% - 21.6px);
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 20px 40px;
}

.u-section-1 .u-image-1 {
  height: 139px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 50px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 25px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 20px auto 0 25px;
  padding: 6px 46px 7px 45px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 20px 40px;
}

.u-section-1 .u-image-2 {
  height: 139px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 50px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 25px auto 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 20px auto 0 25px;
  padding: 6px 46px 7px 45px;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 20px 40px;
}

.u-section-1 .u-image-3 {
  height: 139px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 50px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 25px auto 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 20px auto 0 25px;
  padding: 6px 46px 7px 45px;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px 20px 40px;
}

.u-section-1 .u-image-4 {
  height: 139px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 50px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 25px auto 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 20px auto 0 25px;
  padding: 6px 46px 7px 45px;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px 20px 40px;
}

.u-section-1 .u-image-5 {
  height: 139px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 50px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 25px auto 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 20px auto 0 25px;
  padding: 6px 46px 7px 45px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 281px;
    grid-gap: 27px;
  }

  .u-section-1 .u-image-1 {
    height: 96px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    height: 96px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    height: 218px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    height: 218px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    height: 96px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 18px));
    min-height: 717px;
    grid-auto-columns: calc(33.333333333333336% - 18px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-1 {
    height: 130px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-2 {
    height: 130px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-3 {
    height: 255px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-4 {
    height: 255px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-5 {
    height: 130px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 13.5px));
    min-height: 1210px;
    grid-auto-columns: calc(50% - 13.5px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    height: 163px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-2 {
    height: 163px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-3 {
    height: 414px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-4 {
    height: 414px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-5 {
    height: 163px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-1 {
    height: 209px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-2 {
    height: 209px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-3 {
    height: 276px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-4 {
    height: 276px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-5 {
    height: 209px;
  }
}@font-face {
  font-family: 'Droid';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Droid.ttf);
}
/* page-custom-fonts */
@font-face {
  font-family: 'Droid';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Droid.ttf);
}